$font-plain: "Franklin Gothic Medium", "Helvetica", sans-serif;

$font-demi: "Franklin Gothic Demi", "Helvetica", sans-serif;

$font-form: "Franklin Gothic Book", "Helvetica", sans-serif;

$font-insert-plain: "Futura Bk BT", "Helvetica", sans-serif;

$font-italic: "Franklin Gothic Medium Italic", "Helvetica", sans-serif;

$futura-plain: "Futura-Normal", "Helvetica", sans-serif;

$plain-pink: #b71642;

$hover-pink: #ff294d;

$mobile: 320px;

$tablet: 660px;

$desktop: 1200px;
