@font-face {
  font-family: "Franklin Gothic Medium";
  src: url("../fonts/framd.ttf");
}

@font-face {
  font-family: "Futura Bk BT";
  src: url("../fonts/TT0140M.ttf");
}

@font-face {
  font-family: "Franklin Gothic Demi";
  src: url("../fonts/FRADM.ttf");
}

@font-face {
  font-family: "Franklin Gothic Book";
  src: url("../fonts/FRABK.ttf");
}

@font-face {
  font-family: "Franklin Gothic Medium Italic";
  src: url("../fonts/framdit.ttf");
}

@font-face {
  font-family: "Futura-Normal";
  src: url("../fonts/6563.ttf");
}
