.main-nav__toggle {
  position: absolute;
  top: -35px;
  right: 0px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.main-nav__toggle::before {
  content: "";
  display: block;
  background: url("../img/icon-menu-burger.svg") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 25px;
}
.main-nav__toggle[aria-expanded="true"]::before {
  content: "";
  background: url("../img/icon-menu-cross.svg") no-repeat center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

nav ul {
	list-style: none;

	margin: 0;
	padding: 0;
	display: none;
}

nav ul li a {
	text-decoration: none;
	display: block;
}

nav ul li a:focus {
	outline: thin dotted;
	outline-offset: -2px;
}
[aria-hidden="false"] {
	display: block;
  padding: 0px;
}
@media screen and (min-width: 769px) {
  .main-nav__toggle {
  	display: none;
  }
}
