.container {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

@media(max-width:$tablet) {
  .container {
    max-width: 280px;
  }
}

@media(min-width:$tablet) and (max-width: $desktop) {
  .container {
    max-width: 620px;
  }
}
