.features {
  padding-top: 48px;
  padding-bottom: 86px;
}

.features__desc {
  width: 988px;
  margin: 0 auto;
  font-family: $font-plain;
  font-size: 31px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  &--big-font {
    font-size: 37px;
    line-height: 40px;
  }
}

.features__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.features__item {
  margin: 0px;
  position: relative;
  width: 245px;
  margin-bottom: 77px;
  font-family: $futura-plain;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
}

.features__item::after {
  content: "";
  position: absolute;
  top: -23px;
  left: 61px;
  width: 115px;
  height: 3px;
  background-color: #817f88;
}

.features__btn-block {
  display: flex;
  justify-content: center;
}

.features__btn-get-programm > a,
.features__btn-take-part > button {
  @include btn-typography;
  display: block;
  width: 316px;
  padding: 11px 0;
  text-align: center;
  text-decoration: none;
  background-color: #4cb468;
}

.features__btn-get-programm > a:hover,
.features__btn-take-part > button:hover {
  background-color: #3c9152;
}

.features__btn-get-programm > a:active,
.features__btn-take-part > button:active {
  background-color: #3c9152;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5) inset;
}

.features__btn-get-programm {
  padding-right: 66px;
}

@media(max-width: $tablet) {
  .features__desc {
    width: 280px;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0px;
  }
  .features__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .features__btn-block {
    flex-wrap: wrap;
  }
  .features__btn-get-programm {
    padding-right: 0px;
    padding-bottom: 20px;
    a {
      width: 280px;
      font-size: 18px;
    }
  }
  .features__btn-take-part button {
    width: 280px;
    font-size: 18px;
  }
  .features__item {
    margin-bottom: 50px;
  }
}
