.footer {
  padding-bottom: 42px;
  background-color: #666370;
}

.footer__inner-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.footer__wrap {
  padding-top: 45px;
  background-color: #817f88;
}

.footer__header {
  @include header-typography;
  font-size: 30px;
  margin: 0px;
  padding-bottom: 36px;
  color: #f9faff;
}

.footer__address-block {
  padding: 0px 16px;
  font-family: $font-plain;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  .ya-share2__container_size_m .ya-share2__icon {
    width: 36px;
    height: 36px;
  }
}

.footer__address-desc,
.footer__reg-desc,
.footer__share-buttons {
  margin: 0px;
  line-height: 34px;
  letter-spacing: 2px;
  span {
    letter-spacing: 3px;
    font-size: 18px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

@media(max-width: $tablet) {
  .footer__header {
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0px;
    margin: 0px;
  }
  .footer__inner-wrap {
    flex-wrap: wrap;
  }
  .footer__photo-block img {
    width: 280px;
    height: 170px;
  }
  .footer__address-block {
    font-size: 14px;
  }
  .footer__address-desc,
  .footer__reg-desc,
  .footer__share-buttons {
    line-height: 20px;
    letter-spacing: 1px;
    span {
      letter-spacing: 1px;
      font-size: 16px;
      text-transform: none;
    }
  }
  .footer__share-buttons {
    display: none;
  }
   .ya-share2__link {
      display: none !important;
    }
  .footer__map-block iframe {
    width: 280px;
  }
}

@media(min-width:$tablet) and (max-width: $desktop) {
  .footer__inner-wrap {
    flex-wrap: wrap;
  }
  .footer__photo-block {
    order: 1;
    img {
      height: 210px;
      width: 325px;
    }
  }
  .footer__map-block {
    order: 2;
  }
  .footer__address-block {
    order: 3;
  }
  .footer__header {
    letter-spacing: 1px;
  }
  .footer__address-desc,
  .footer__reg-desc,
  .footer__share-buttons {
    line-height: 20px;
    letter-spacing: 1px;
    span {
      letter-spacing: 1px;
      font-size: 16px;
      text-transform: none;
    }
  }
}
