.main-nav {
  padding-top: 20px;
}

.main-nav__fixing {
  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 1000;
  margin-left: -50%;
  width: 100%;
  background-color: #151718;
}

.main-nav__wrap {
  display: flex;
  justify-content: space-between;
}

.main-nav__inner {
  display: flex;
  justify-content: space-between;
}

.main-nav__logo {
  padding-left: 13px;
  padding-top: 11px;
}

.main-nav__item-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  padding-left: 52px;
  list-style: none;
}

.main-nav__item {
  padding: 50px 23px 26px 5px;
  font-family: "Franklin Gothic Medium", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    color: #949494;
    text-decoration: none;
  }
}

@media(max-width: 768px) {
  .main-nav__fixing {
    position: static;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow-x: hidden;
  }
  .main-nav {
    padding-top: 0px;
  }
  .main-nav__wrap {
    flex-direction: column;
  }
  .main-nav__inner {
    position: relative;
    order: 2;
  }
  .main-nav__item-list {
    display: none;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .main-nav__logo {
    display: none;
  }
  .main-nav__item {
    position: relative;
    padding: 17px 0px;
    padding-top: 32px;
    text-align: center;
  }
  .main-nav__item:first-child::before {
    content: "";
    position: absolute;
    left: -200px;
    top: 10px;
    width: 1000px;
    height: 1px;
    background-color: rgb(129, 127, 136);
  }
  .main-nav__item::after {
    content: "";
    position: absolute;
    left: -200px;
    bottom: -10px;
    width: 1000px;
    height: 1px;
    background-color: rgb(129, 127, 136);
  }
}

//@media(min-width: $tablet) and (max-width: $desktop) {
//  .main-nav__pict {
//    width: 96px;
//    height: 41px;
//  }
//  .main-nav__item-list {
//    padding-left: 25px;
//  }
//  .main-nav__item {
//    padding-top: 30px;
//    font-size: 13px;
//  }
//}
