.person-popup {
  display: block;
  position: absolute;
  z-index: 100;
  top: 155px;
  left: 50%;
  width: 800px;
  min-height: 550px;
  margin-left: -400px;
  padding: 20px;
  background-color: #2c2c31;
  box-shadow: 10px 10px 40px 14px rgba(0, 0, 0, 0.6);
}

#Sdorofeev {
  top: 1000px;
}

.person-popup--hidden {
  display: none;
}

.person-popup__close {
  position: relative;
}

.person-popup-link {
  color: #000;
  text-decoration: none;
}

.person-popup__close::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -755px;
  width: 25px;
  height: 25px;
  margin-left: auto;
  background: url("../img/icon-cross.svg") no-repeat center;
  background-size: 25px;
  cursor: pointer;
}

.person-popup__wrap {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.person-popup__photo-block {
  height: 355px;
}

.person-popup__photo--round {
  border-radius: 50%;
}

.person-popup_info-block {
  padding-left: 25px;
}

.person-popup_info-block--padding {
  padding-top: 25px;
}

.person-popup_info-block--video {
  padding-left: 0px;
}

.person-popup__name {
  margin: 5px;
  font-family: $font-plain;
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}

.person-popup__profession {
  padding-bottom: 10px;
  font-family: $font-plain;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.person-popup__achives {
  margin: 0px;
  margin-top: 25px;
  padding: 0px;
  list-style: none;
  font-family: $font-plain;
  font-size: 15px;
  line-height: 20px;
  li {
    position: relative;
    padding-bottom: 30px;
    color: #fff;
  }
  li::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -2px;
    width: 60px;
    height: 4px;
    background-color: $plain-pink;
  }
}

.person-popup__speach-about {
  font-family: $font-plain;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

@media(max-width: $tablet) {
  .person-popup {
    top: 7%;
    width: 320px;
    margin-left: -160px;
    video {
      width: 280px;
    }
  }
  .person-popup-link {
    position: relative;
  }
  .person-popup__close::after {
    right: -279px;
  }
  .person-popup__wrap {
    flex-wrap: wrap;
  }
  .person-popup__photo-block {
    height: auto;
    padding-top: 27px;
    margin: 0 auto;
  }
  .person-popup__name {
    width: 200px;
    font-size: 21px;
  }
  #suhanov-speaker {
    top: 7%;
  }
  #magirovskij {
    top: 7%;
  }
  #tarabykina {
    top: 7%;
  }
  #korobkina {
    top: 7%;
  }
  #Sdorofeev {
    top: 7%
  }
}

@media(min-width: $tablet) and (max-width:$desktop) {
  .person-popup {
    top: 7%;
    width: 600px;
    margin-left: -300px;
    video {
      width: 550px;
    }
  }
  .person-popup-link {
    position: relative;
  }
  .person-popup__close::after {
    right: -560px;
  }
  .person-popup__name {
    width: auto;
    font-size: 21px;
  }
}
