.pluso {
  position: fixed !important;
  z-index: 1000 !important;
  left: 0px;
  top: 50%;
}

.pluso-wrap {
  padding-bottom: 27px !important;
}

.pluso-001010101001-06 .pluso-counter {
  margin-top: 10px !important;
}
